body {
	font-size: 14px;
	font-family: "Lantinghei SC Extralight",Arial;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: top;
}
#wrap {
	width: 760px;
	margin: 0px auto;
	padding: 145px 120px 95px;
	background: url(../img/bg.jpg) repeat-y 0 0;
}
#section {
	width: 760px;
	height: 260px;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2); 
	box-shadow: 0px 0px 4px rgba(0,0,0,.2);
}
#choose {
	width: 760px;
	height: 50px;
	margin: 0 auto;
	background: url(../img/nav_bg.png) no-repeat 0 0;
	line-height: 50px;
	text-indent: 21px;
	overflow: hidden;
}
#type {
	width: 100%;
	height: 210px;
	background: url(../img/type_bg.png) no-repeat 0 0;
	padding: 17px 0 16px 28px;
}
#type li {
	height: 44px;
	color: #8a8a8a;
	line-height: 44px;
}
#type a {
	margin: 0 12px 0 11px;
	color: #000;
}
#choose mark {
	position: relative;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	border: 1px solid #28a5c4;
	color: #28a5c4;
	margin: 12px 5px 0;
	background: none;
	padding: 0 30px 0 6px;
	text-indent: 0;
}
#choose span {
	float: left;
}
#choose div {
	float: left;
}
#choose mark a {
	position: absolute;
	top: 3px;
	right: 2px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #28a5c4;
	color: #fff;
	line-height: 18px;
	font-size: 16px;
	text-align: center;
}
.shop-list {
	height: 3000px;
	
	background: url(../img/type_bg.png) repeat-y 0 0;
}
.filter-nav {
	height: 30px;
	margin-top: 30px;
	background: url(../img/nav_bg.png) no-repeat 0 0;

}
.filter-nav span {
	font-size: 14px;
	color: #999;
	line-height: 30px;
	padding: 0px 20px;
	text-align: center;
	cursor: pointer;
}
.filter-nav .nav-color {
	color: #5683EA;
}
.shop-list pre {
	font-size: 20px;
}